<script type="text/template" id="content">
    <div class="ca-photo-arrow-left selection-disabled e-prev">&nbsp;</div>
    <div class="ca-photo-container">
        <div class="ca-photo-image-wrapper e-container">
            <div class="e-spinner">
                <div class="e-indicator" style="font-size: 50px; text-align: left;">&nbsp;</div>
                <div class="ca-loader">loading</div></div>
        </div>
    </div>
    <div class="ca-photo-arrow-right selection-disabled e-next">&nbsp;</div>

</script>
